## 安装mysql R语言包

In [4]:
library("sqldf")

Loading required package: gsubfn
Loading required package: proto
Could not load tcltk.  Will use slower R code instead.
Loading required package: RSQLite

In [5]:
1+1

[1] 2

In [6]:
hello = "heloo xiaona"

In [7]:
hello

[1] "heloo xiaona"

In [8]:
print(hello)

[1] "heloo xiaona"

In [13]:
data("iris")

In [16]:
head(iris)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [17]:
sqldf("select * from iris limit 3")

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa

Excel排序

In [25]:
sepal_Desc = sqldf("select * from iris order by `Sepal.Length` desc ")
sepal_Desc[1,]
head(sepal_Desc,n=2)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 7.9          3.8         6.4          2           virginica

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 7.9          3.8         6.4          2.0         virginica
2 7.7          3.8         6.7          2.2         virginica

In [26]:
summary(iris)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.600   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.350   Median :1.300
 Mean   :5.843   Mean   :3.057   Mean   :3.758   Mean   :1.199
 3rd Qu.:6.400   3rd Qu.:3.300   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :50
 versicolor:50
 virginica :50

In [28]:
mean(iris$Petal.Length)
max(iris$Petal.Length)

[1] 3.758

[1] 6.9

In [35]:
index =iris$Petal.Length>mean(iris$Petal.Length)
#which(index)
a = iris[index,]

In [42]:
sqldf("select * from iris where  `Sepal.Length` >  `Sepal.Length` ")

ERROR: Error in result_create(conn@ptr, statement): near "`Sepal.Length`": syntax error