# 导入csv文件

In [31]:
哈哈哈 = read.table("/Users/wangxiaona/Desktop/grade_result.csv", sep=",", header = T)

In [32]:
哈哈哈[1:3, ]

  班级 姓名 性别 语文 数学
1 1    王一 男   96   98
2 1    王二 女   95   93
3 1    王三 男   97   92

In [27]:
grade2 = read.csv("/Users/wangxiaona/Desktop/grade_result.csv", header = T)

In [33]:
head(grade2)

  班级 姓名 性别 语文 数学
1 1    王一 男   96   98
2 1    王二 女   95   93
3 1    王三 男   97   92
4 1    王四 女   90   96
5 1    王五 男   91   93
6 1    王六 女   96   94

In [37]:
班级	姓名	性别	语文	数学
1	王一	男	96	98
1	王二	女	95	93
1	王三	男	97	92
1	王四	女	90	96
1	王五	男	91	93
1	王六	女	96	94
1	王七	男	96	95
1	王八	女	93	99
1	王九	男	100	96
1	王十	女	91	92
2	小一	男	97	92
2	小二	女	95	100
2	小三	男	96	98
2	小四	女	96	93
2	小五	男	94	95

ERROR: Error in parse(text = x, srcfile = src): <text>:1:9: unexpected symbol
1: 班级  姓名
            ^

In [38]:
read.csv(pipe("pbpaste"),header = T, sep = "\t" )

   班级 姓名 性别 语文 数学
1  1    王一 男    96   98
2  1    王二 女    95   93
3  1    王三 男    97   92
4  1    王四 女    90   96
5  1    王五 男    91   93
6  1    王六 女    96   94
7  1    王七 男    96   95
8  1    王八 女    93   99
9  1    王九 男   100   96
10 1    王十 女    91   92
11 2    小一 男    97   92
12 2    小二 女    95  100
13 2    小三 男    96   98
14 2    小四 女    96   93
15 2    小五 男    94   95

In [39]:
library(sqldf)

Loading required package: gsubfn
Loading required package: proto
Warning message in doTryCatch(return(expr), name, parentenv, handler):
“无法载入共享目标对象‘/Library/Frameworks/R.framework/Resources/modules//R_X11.so’：:
  dlopen(/Library/Frameworks/R.framework/Resources/modules//R_X11.so, 6): Library not loaded: /opt/X11/lib/libSM.6.dylib
  Referenced from: /Library/Frameworks/R.framework/Resources/modules//R_X11.so
  Reason: image not found”Could not load tcltk.  Will use slower R code instead.
Loading required package: RSQLite

# 1
# 1.1
### 1.1.1
#### 1.1.1.1

In [43]:
sqldf("LOAD INTO TABLE xxx infile:'/Users/wangxiaona/grade_result.csv terminated by ","'  ")
# ' select * from a where "dt" >10  '

[1] " select * from a where \"dt\" >10  "

In [ ]:
"""     """"